<h3 class="text-center">Customer Details</h3>

<mat-card class="example-card mt-3">
    <mat-card-content class="mt-2">
        <div class="container">
            <div class="row">
             <div class="col-lg-12 mb-3 text-center">Customer Name: <span style="margin-left: 5px;
                font-weight: 500;">{{ data?.name }}</span></div>
              <div class="col-sm">Project : <span>{{ data?.projectName }}</span></div>
              <div class="col-sm">Sale Contact :  <span>{{ data?.saleContact }}</span></div>
              <div class="col-sm">Contract Status  <span>{{ data?.contractStatus }}</span></div>
              <div class="col-sm">Go Live Date: <span>{{ data?.goLiveDate | date }}</span></div>

              <div class="col-lg-12 mb-3 mt-4 text-center" style=" font-weight: 500;">Configuration Tables</div>
              
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Customer OB Configuration
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let config of data?.OBConfigs">
                                <td>{{config.name}}</td>
                                <td>{{config.details}}</td>
                                <td>{{config.status}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Simulator EndpointsConfigurations
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let config of data?.EndPtConfigs">
                                <td>{{config.name}}</td>
                                <td>{{config.status}}</td>
                                <td>{{config.date | date}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Auth Server Configurations
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let config of data?.AuthServerConfigs">
                                <td>{{config.name}}</td>
                                <td>{{config.email}}</td>
                                <td>{{config.password}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        Customer SFTP Configurations
                      </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Details</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  *ngFor="let config of data?.SFTPConfigs">
                                  <td>{{config.name}}</td>
                                  <td>{{config.status}}</td>
                                  <td>{{config.detail}}</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Customer APIGEE Configurations
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Type</th>
                                  <th scope="col">URL</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  *ngFor="let config of data?.APIGEEConfigs">
                                  <td>{{config.type}}</td>
                                  <td>{{config.url}}</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Customer Contact List
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Mobile</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  *ngFor="let config of data?.Contactlists
                                ">
                                  <td>{{config.name}}</td>
                                  <td>{{config.email}}</td>
                                  <td>{{config.mobile}}</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        Customer Certificate Details
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Cerificate No</th>
                                  <th scope="col">Certificate Name</th>
                                  <th scope="col">Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  *ngFor="let config of data?.Certdeatils
                                ">
                                  <td>{{config.certno}}</td>
                                  <td>{{config.name}}</td>
                                  <td>{{config.date | date}}</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </mat-card-content>
</mat-card>

